@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
html {
    overflow: auto;
    overflow-y: scroll;
}

@media screen and (min-width: 960px) {
  html {
      margin-left: calc(100vw - 100%);
      margin-right: 0;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.text-transition {
  position: absolute;
  transition: opacity 500ms ease-in-out;
}

.text-hidden {
  opacity: 0;
}

:root {
  --bg-color: #ffffff; /* light mode background color */
  --text-color: #000000; /* light mode text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212; /* dark mode background color */
    --text-color: #ffffff; /* dark mode text color */
  }
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-black dark:text-gray-100;
    @apply min-h-screen;
  }

  ::selection {
    @apply text-white bg-indigo-500;
  }


  .btn{
    @apply inline-block px-5 py-3 rounded-lg hover:bg-indigo-600 transition duration-300 shadow-lg bg-indigo-500 text-white capitalize tracking-wider font-semibold text-sm sm:text-xl focus:outline-none focus:ring-4 focus:ring-indigo-500 focus:ring-opacity-50 whitespace-nowrap
  }
}