@import './Theme.module.scss';

.blogPage {
    & h1 {
        margin-bottom: .5rem;
    }

    & ul {
        padding-right: 0;
    }
}

.headerDate {
    font-size: 0.8rem;
}

.selectNone {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}